.main {
  margin-top: 15vh;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  &__wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}
.main-left {
  height: 70vh;
  width: 47%;
  background-color: rgb(255, 253, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__topic {
    margin: 5% 0;
    font-size: 1.4em;
    font-weight: bold;
  }
}
.change-button {
  margin-top: 2%;
  button {
    width: 200px;
    font-size: 1.2em;
  }
}
.word {
  width: 25%;
  min-width: 150px;
  height: 100px;
  margin: 0 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.main-right {
  height: 70vh;
  width: 47%;
  background-color: rgb(246, 255, 226);
  &__answer-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__not-answer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__topic {
    margin: 5% 0;
    font-size: 1.4em;
    font-weight: bold;
  }
}
.hint {
  width: 70%;
  background-color: rgb(237, 255, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  &__count {
    display: flex;
    margin-top: 15px;
    &--text {
      padding: 3px 0;
    }
    &--hint {
      text-align: center;
      position: relative;
      min-width: 50px;
      margin-left: 10px;
      padding: 3px 0;
    }
  }
  &__category {
    margin-top: 15px;
    &--hint {
      position: relative;
      min-width: 130px;
      margin-left: 10px;
      padding: 3px 0;
      &--inner {
        padding: 3px 0;
        width: 100%;
      }
      &--element {
        text-align: center;
      }
    }
  }
  &__head {
    display: flex;
    margin: 15px 0;
    &--text {
      padding: 3px 0;
    }
    &--hint {
      text-align: center;
      position: relative;
      min-width: 50px;
      margin-left: 10px;
      padding: 3px 0;
    }
  }
}
.hint-mask {
  height: calc(100% - 5px);
  width: 100%;
  background-color: red;
  position: relative;
  &__wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin-top: 5px;
    z-index: 3;
  }
  &:before {
    width: 100%;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    border-bottom: solid 5px red;
    border-right: solid 5px transparent;
    content: "";
  }
}
@keyframes sizeScale {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.mask {
  animation: sizeScale ease-in 1s forwards;
}

.answer {
  margin-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  &__input {
    height: 40px;
    width: 200px;
    font-size: 1.1em;
  }
  &__button {
    height: 40px;
    width: 70px;
    font-size: 1.1em;
  }
}

.link_answer {
  width: 200px;
  font-size: 1.1em;
  &--wrapper {
    margin-top: 20px;
  }
}

.answer-view {
  &__topic {
    margin: 5% 0;
    font-size: 1.4em;
    font-weight: bold;
  }
  &__image {
    height: 100%;
    object-fit: contain;
    &--wrapper {
      height: 50%;
    }
  }
  &__text {
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: 800;
    text-decoration: underline;
  }
  &__subtext {
    margin-top: 10px;
  }
  &__tweet {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    &--button {
      margin-left: 20px;
      button {
        width: 100px;
      }
    }
  }
}
